.layout {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    width: 100%;
    padding: 20px;
    background-color: var(--BackgroundColor);
}

.lightTheme {
    --BackgroundColor: #eee;
}

.darkTheme {
    --BackgroundColor: #222;
}